---
import Service from '../components/Service.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import type { MarkdownInstance } from 'astro';

const markdownFiles = import.meta.glob<MarkdownInstance<any>>('./groups/*md', { eager: true })

const groups: MarkdownInstance<any>[] = Object.values(markdownFiles)

const pageTitle = 'Groups - OT, Lactation, Baltimore'
const description = 'Free Groups run by Tiny Tides Therapy Baltimore Pediatric Occupational Therapy'
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <div class="w-full h-full bg-primary transition-all duration-300 ease-in-out">
    <div class="relative w-full h-[85vh] pt-14 md:pt-[76px]">
      <img
        src="https://dkbi9cj3nodif.cloudfront.net/tummy_time_in_park_riverside.jpg"
        alt="Toddlers playing"
        class="w-full h-full object-cover object-center contrast-125"
      />
      <h1
        class="header-title text-4xl sm:text-5xl text-white absolute w-3/5 sm:w-auto top-1/2 left-1/2 -translate-x-[50%] sm:-translate-x-[60%] bg-black/50 sm:px-4 py-2 rounded-md"
      >
        Groups
      </h1>
    </div>
    <div
      class="w-full flex flex-col gap-y-4 px-4 md:px-12 py-8 treat-item transition-all duration-300 ease-in-out"
    >
      {
        groups.map((group) => (
          <Service
            title={group.frontmatter.title}
            duration={group.frontmatter.duration}
            price={group.frontmatter.price}
            img={group.frontmatter.img}
            link={group.frontmatter.link}
            id={group.frontmatter.id}
          >
            <group.Content />
          </Service>
        ))
      }
    </div>
  </div>
</BaseLayout>
