---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Tiny Tides Therapy - OT, Lactation, Baltimore'
const description = 'Tiny Tides Therapy is a pediatric therapy practice in Baltimore, MD. We offer occupational therapy, lactation consulting, and feeding therapy services. Baltimore Pediatric Occupational Therapy'

import WhatWeTreat from '../components/WhatWeTreat.astro'
import Button from '../components/Button.astro'
import ContactForm from '../components/ContactForm.svelte'
import WaveDivider from '../components/WaveDivider.astro'

import Step from '../components/Step.astro'

import BreastFeedingImg from '../../public/assets/images/breast_feeding_icon.png'
import BabyFeedingImg from '../../public/assets/images/infant_feeding_icon.png'
import BabyCrawlingImg from '../../public/assets/images/infant_crawling_icon.png'
import Logo from '../components/Logo.astro'
import Testamonials from '../components/Testamonials.astro'

const services = [
  {
    img: BabyCrawlingImg,
    title: 'Occupational Therapy',
    description:
      "Don’t “wait it out” when it comes to your baby's development! Early OT intervention can help set your little one up for success with meeting milestones and provide a strong foundation for future growth and independence.",
    link: '/what-we-treat/#occupational-therapy',
  },
  {
    img: BreastFeedingImg,
    title: 'Lactation Counseling',
    description:
      'Breastfeeding can be TOUGH! Tiny Tides offers tailored strategies to support successful breastfeeding. Let’s work together to enhance the feeding experience with your little one.',
    link: '/what-we-treat/#lactation-consulting',
  },
  {
    img: BabyFeedingImg,
    title: 'Feeding Therapy',
    description:
      'Whether you are struggling with bottle feeding, transitioning to solids, or picky eating, Tiny Tides provides individualized support to help you and your little one reach your feeding goals.',
    link: '/what-we-treat/#transition-to-solids',
  },
]
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <!-- Landing -->
  <section class="bg-gradient-to-b from-primary to-secondary overflow-x-hidden">
    <div class="h-[106vh] w-full relative overflow-hidden pt-14 md:pt-[76px]">
      <div
        class="relative bg-transparent md:bg-gradient-to-b md:from-primary md:to-[#c5e8e8] w-full md:w-1/2 h-full flex justify-center items-center z-20 px-4 md:px-12 rounded-b-lg"
      >
        <div class="flex flex-col gap-y-4 justify-center items-center">
          <Logo fill="#172554" width="400px" />
          <p class="header-title lowercase text-white md:text-blue-950">
            <span class="mx-1">tiny</span>
            <span class="mx-1">tides</span>
            <span class="mx-1">therapy</span>
          </p>

          <h2
            class="font-header text-xl sm:text-base md:text-lg lowercase text-center text-white md:text-blue-950"
          >
            Occupational Therapy <span class="mx-1">-</span> Lactation <span
              class="mx-1">-</span
            > Feeding <span class="mx-1">-</span> Development
        </h2>

          <div
            class="flex justify-center md:hidden lg:block mt-4 mb-12 md:mb-6"
          >
            <a href="/contact">
              <Button
                text="Schedule Free 15 Minute Phone Consultation"
                textColor="#173f69bf"
                textSize="text-base"
              />
            </a>
          </div>
        </div>
      </div>

      <video
        class="absolute top-0 left-0 h-full w-full z-10 object-cover opacity-100 grayscale-[10%]"
        playsinline
        autoplay
        loop
        muted
      >
        <source
          src="https://dkbi9cj3nodif.cloudfront.net/wave-birdeye-view.mp4"
          type="video/mp4"
        />
        <source
          src="https://dkbi9cj3nodif.cloudfront.net/wave-birdeye-view.mp4"
          type="video/webm"
        />
        <source
          src="https://dkbi9cj3nodif.cloudfront.net/wave-birdeye-view.mp4"
          type="video/ogg"
        />
      </video>

      <div
        class="sticky bottom-0 bg-[linear-gradient(to_top,_#fff,_rgba(0,_0,_0,_0))] content-[''] w-full h-[15vh] block z-20"
      >
      </div>

      <WaveDivider placement="bottom" fill="#fff" />
    </div>

    <!-- Services -->
    <div
      class="min-h-[90vh] w-full transition-all duration-300 ease-in-out relative"
    >
      <div
        class="sticky top-0 bg-[linear-gradient(to_bottom,_#fff,_rgba(0,_0,_0,_0))] content-[''] w-full h-[15vh] block z-20"
      >
      </div>

      <div class="py-16 px-6 lg:px-12">
        <div class="flex flex-col justify-center items-center gap-y-20">
          <h1 class="header-title text-blue-950">
            For all of your pediatric, lactation, & infant feeding therapy needs!
          </h1>

          <div
            class="md:max-w-6xl grid grid-cols-1 md:grid-cols-3 content-center w-full gap-y-16 md:gap-y-0 md:gap-x-4 lg:gap-x-16"
          >
            {
              services.map((service) => (
                <WhatWeTreat
                  img={service.img}
                  title={service.title}
                  description={service.description}
                  link={service.link}
                />
              ))
            }
          </div>
        </div>

        <div
          class="mt-32 w-full flex flex-row justify-center transition-all ease-in-out duration-300"
        >
          <div
            class="max-w-6xl flex flex-col gap-y-6 md:flex-row md:gap-x-8 lg:gap-x-16 justify-center"
          >
            <div
              class="w-full md:w-1/2 flex flex-col justify-center gap-y-16 bg-white/30 rounded-lg p-6 h-full"
            >
              <h1
                class="header-title md:text-3xl text-center w-full max-w-3xl text-blue-950"
              >
                Providing support in Baltimore City, surrounding areas, and
                virtually
              </h1>

              <div class="flex flex-col items-center gap-y-6">
                <h1 class="header-title md:text-3xl text-blue-950 text-center">
                  Check out our FREE groups this month
                </h1>

                <a href="/groups">
                  <Button
                    text="Get more Info About Each Individual Group"
                    textColor="#173f69bf"
                    textSize="text-base"
                  />
                </a>
              </div>
            </div>

            <div class="w-full md:w-1/2 flex justify-center">
              <img
                class="max-h-[600px] max-w-[500px] w-full rounded-md"
                src="https://dkbi9cj3nodif.cloudfront.net/monthly_calendar.png"
                alt="free group occupational therapy, lactation, infant feeding calendar"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Testimonials -->
      <section class=" w-full py-8 px-4">
        <Testamonials />
      </section>

      <!-- Steps -->
      <div class="py-16 pb-36">
        <div
          class="relative flex flex-col md:flex-row gap-y-12 md:gap-x-8 justify-between items-center px-8 lg:px-20 transition-all duration-300 ease-in-out"
        >
          <Step
            stepNum="1"
            description="Schedule a free 15 minute consultation"
          />
          <div
            class="absolute top-[27%] md:top-[40%] md:left-[28%] hidden lg:block step-arrow-1"
          >
            <svg
              viewBox="0 0 24 24"
              width="100"
              height="100"
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              clip-rule="evenodd"
              class=""
              ><path
                d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"
              ></path>
            </svg>
          </div>

          <Step
            stepNum="2"
            description="Get a comprehensive in home evaluation"
          />

          <div
            class="absolute lg:top-[40%] lg:left-[64%] hidden lg:block step-arrow-2"
          >
            <svg
              viewBox="0 0 24 24"
              width="100"
              height="100"
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              clip-rule="evenodd"
              class=""
              ><path
                d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"
              ></path>
            </svg>
          </div>

          <Step stepNum="3" description="Receive a personalized plan" />
        </div>
      </div>

      <WaveDivider placement="bottom" fill="#f3ffff" />
    </div>
  </section>

  <!-- Contact -->
  <div class="bg-primary w-full py-16 px-4 flex justify-center">
    <div class="max-w-7xl lg:w-[1256px]">
      <div class="flex justify-center">
        <h1 class="header-title text-blue-950">
          <span class="straight_underline z-10">Get in Touch</span>
        </h1>
      </div>

      <div
        class="w-full mt-8 md:mt-12 grid grid-cols-1 md:grid-cols-2 gap-y-12 md:gap-y-0 md:gap-x-8 border border-black rounded-md transition-all duration-300 ease-in-out"
      >
        <div class="w-full md:h-screen flex justify-center items-center">
          <img
            src="https://dkbi9cj3nodif.cloudfront.net/erin_baby_bounce.jpeg"
            alt="occupational therapy, lactation, infant feeding Toddlers playing"
            class="w-full h-full rounded-md object-cover"
          />
        </div>

        <div class="flex flex-col justify-center items-center md:py-20">
          <p class="text-xl max-w-md px-4 md:px-8">
            Submit an inquiry and we will be in touch!
          </p>
          <ContactForm homepage={true} client:load />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .step-arrow-1 {
    opacity: 0;
    transform: translateX(-44px);
    transition: all 0.3s ease-in-out 0.45s;
  }

  .step-arrow-2 {
    opacity: 0;
    transform: translateX(-44px);
    transition: all 0.3s ease-in-out 0.75s;
  }

  .tummy-time {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.3s ease-in-out 0.3s;
  }

  .step-arrow-1.in-view {
    opacity: 1;
    transform: translateX(0);
  }

  .step-arrow-2.in-view {
    opacity: 1;
    transform: translateX(0);
  }

  .tummy-time.in-view {
    opacity: 1;
    transform: translateY(0);
  }
</style>

<script>
  let pageLoadNumber = 0
  document.addEventListener('astro:page-load', () => {
    if (pageLoadNumber > 0) {
      let video = document.querySelector('video')
      if (video) {
        video.load()
      }
    }
    pageLoadNumber++
  })

  const handleNavigation = () => {
    const elements = document.querySelectorAll(
      '.step-arrow-1, .step-arrow-2, .tummy-time',
    )
    // const tummyTimeImg = document.querySelector('.tummy-time-img')

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add('in-view')
            observer.unobserve(entry.target)
          }
        })
      },
      { threshold: 0.2 },
    )

    elements.forEach((el) => observer.observe(el))
  }

  // Reinitialize on navigation
  document.addEventListener('astro:page-load', handleNavigation) // Astro-specific event
  document.addEventListener('DOMContentLoaded', handleNavigation)
</script>
