---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Home Page'

import ServicesLanding from '../components/ServicesLanding.astro'
import Button from '../components/Button.astro'
import ContactForm from '../components/ContactForm.svelte'
import WaveDivider from '../components/WaveDivider.astro'

import WaveVideo from '/assets/videos/wave-birdeye-view.mp4'
import Step from '../components/Step.astro'

const services = [
  {
    img: '/assets/images/baby_breastfeeding.png',
    title: 'Lactation Counseling',
    description:
      'Feeding challenges can make the early days with your baby stressful. Tiny Tides offers tailored support to help you achieve a comfortable, effective feeding routine',
    link: '/services/#lactation-consulting',
  },
  {
    img: '/assets/images/toddlers-playing.png',
    title: 'Developmental Milestones',
    description:
      'Concerns about missed milestones can cause worry. Tiny Tides assesses and supports each child’s unique needs, encouraging steady progress in a warm environment',
    link: '/services/#developmental-milestones',
  },
  {
    img: '/assets/images/baby-eating.png',
    title: 'Transition to Solids',
    description:
      'Mealtime struggles with picky eating can frustrate both kids and parents. Tiny Tides uses a gentle, child-led approach to make meals more enjoyable and nutritious',
    link: '/services/#transition-to-solids',
  },
]
---

<BaseLayout pageTitle={pageTitle}>
  <!-- Landing -->
  <section class="bg-gradient-to-b from-primary to-secondary">
    <div class="h-[106vh] w-full relative overflow-hidden pt-14 md:pt-[76px]">
      <div
        class="relative bg-transparent md:bg-gradient-to-b md:from-primary md:to-[#c5e8e8] flex flex-col w-full md:w-1/2 h-full justify-center items-center z-20 px-4 md:px-12 rounded-b-lg"
      >
        <h1
          class="header-title text-8xl mb-6 text-center text-white md:text-black bg-black/20 md:bg-inherit px-4 md:px-0"
        >
          <span class="text-[100px]">Tiny Tides</span>
          <br /> Therapy
        </h1>

        <h1
          class="text-4xl text-center my-2 md:my-4 text-white md:text-black font-semibold md:font-normal bg-black/20 md:bg-inherit"
        >
          Pediatric Occupational Therapy Lactation <span class="px-1">&</span> Feeding
        </h1>

        <div class="flex justify-center md:hidden lg:block mt-4 mb-12 md:mb-6">
          <a href="/contact">
            <Button text="Schedule Free Consultation" />
          </a>
        </div>
      </div>

      <video
        class="absolute top-0 left-0 h-full w-full z-10 object-cover opacity-100 grayscale-[10%]"
        playsinline
        autoplay
        loop
        muted
        preload="auto"
      >
        <source src={WaveVideo} type="video/mp4" />
        <source src={WaveVideo} type="video/webm" />
        <source src={WaveVideo} type="video/ogg" />
      </video>

      <div
        class="sticky bottom-0 bg-[linear-gradient(to_top,_#fff,_rgba(0,_0,_0,_0))] content-[''] w-full h-[15vh] block z-20"
      >
      </div>

      <WaveDivider placement="bottom" fill="#fff" />
    </div>

    <!-- Services -->
    <div
      class="min-h-[90vh] w-full transition-all duration-300 ease-in-out relative"
    >
      <div
        class="sticky top-0 bg-[linear-gradient(to_bottom,_#fff,_rgba(0,_0,_0,_0))] content-[''] w-full h-[15vh] block z-20"
      >
      </div>

      <div class="py-16 px-6 md:px-12">
        <div class="flex flex-col justify-center items-center gap-y-20">
          <h1 class="header-title">For all your pedatric therapy needs</h1>

          <div
            class="md:max-w-6xl grid grid-cols-1 md:grid-cols-3 content-center w-full gap-y-16 md:gap-y-0 md:gap-x-16"
          >
            {
              services.map((service) => (
                <ServicesLanding
                  img={service.img}
                  title={service.title}
                  description={service.description}
                  link={service.link}
                />
              ))
            }
          </div>
        </div>

        <h4 class="text-center mt-32 text-4xl">
          Serving Families in Baltimore City and Surrounding Areas
        </h4>
        <div class="flex justify-center mt-24">
          <a href="/contact">
            <Button
              text="Book Consultation Now"
              color="#f3ffff"
              hoverColor="#fff"
              textColor="black"
            />
          </a>
        </div>
      </div>

      <!-- Steps -->
      <div class="py-16 pb-36">
        <div
          class="relative flex flex-col md:flex-row gap-y-12 md:gap-x-8 justify-between items-center px-8 lg:px-20 transition-all duration-300 ease-in-out"
        >
          <Step stepNum="1" description="Schedule a free consultation" />
          <div
            class="absolute top-[27%] md:top-[40%] md:left-[31%] hidden lg:block step-arrow-1"
          >
            <svg
              viewBox="0 0 24 24"
              width="72"
              height="72"
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              clip-rule="evenodd"
              class=""
              ><path
                d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"
              ></path>
            </svg>
          </div>

          <Step stepNum="2" description="Get a comprehensive evaluation" />

          <div
            class="absolute lg:top-[40%] lg:left-[62%] hidden lg:block step-arrow-2"
          >
            <svg
              viewBox="0 0 24 24"
              width="72"
              height="72"
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              clip-rule="evenodd"
              class=""
              ><path
                d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"
              ></path>
            </svg>
          </div>

          <Step stepNum="3" description="Receive a personalized plan" />
        </div>
      </div>

      <WaveDivider placement="bottom" fill="#f3ffff" />
    </div>
  </section>

  <!-- Testimonials -->

  <!-- Contact -->
  <div class="bg-primary pt-24 w-full py-16 px-4 flex justify-center">
    <div class="max-w-7xl lg:w-[1256px]">
      <div class="flex justify-center">
        <h1 class="header-title">Get in Touch</h1>
      </div>

      <div
        class="w-full mt-8 md:mt-12 grid grid-cols-1 md:grid-cols-2 gap-y-12 md:gap-y-0 md:gap-x-8 border border-black rounded-md transition-all duration-300 ease-in-out"
      >
        <div class="w-full md:h-screen flex justify-center items-center">
          <img
            src="/assets/images/erin/erin_baby_bounce.jpeg"
            alt="Toddlers playing"
            class="w-full h-full rounded-md object-cover"
          />
        </div>

        <div class="flex flex-col justify-center items-center md:py-20">
          <p class="text-xl max-w-md px-4 md:px-8">
            Submit an inquiry and we will reach back out to you!
          </p>
          <ContactForm homepage={true} client:load />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .step-arrow-1 {
    opacity: 0;
    transform: translateX(-44px);
    transition: all 0.3s ease-in-out 0.45s;
  }

  .step-arrow-2 {
    opacity: 0;
    transform: translateX(-44px);
    transition: all 0.3s ease-in-out 0.75s;
  }

  .step-arrow-1.in-view {
    opacity: 1;
    transform: translateX(0);
  }

  .step-arrow-2.in-view {
    opacity: 1;
    transform: translateX(0);
  }
</style>

<script>
  const handleNavigation = () => {
    const elements = document.querySelectorAll('.step-arrow-1, .step-arrow-2')

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add('in-view')
            observer.unobserve(entry.target)
          }
        })
      },
      { threshold: 0.2 },
    )

    elements.forEach((el) => observer.observe(el))
  }

  // Reinitialize on navigation
  document.addEventListener('astro:page-load', handleNavigation) // Astro-specific event
  document.addEventListener('DOMContentLoaded', handleNavigation)
</script>
