---
title: 'What We Treat, Baltimore Pediatric Occupational Therapy. Erin Helms OTR/L, CLC'
description: 'Tiny Tides Therapy offers a variety of services to support your child’s development. From feeding therapy to sensory processing, we provide individualized care to help your child reach their full potential. Baltimore Pediatric Occupational Therapy'

import BaseLayout from '../layouts/BaseLayout.astro'
const markdownFiles = await Astro.glob('./what-we-treat/*md')

const treating = Object.values(markdownFiles)

const pageTitle = 'What We Treat'

import Reasons from '../components/Reasons.astro'

const treatImgs = [
  'https://dkbi9cj3nodif.cloudfront.net/erin_tummy_baby.jpeg',
  'https://dkbi9cj3nodif.cloudfront.net/breast_feeding.jpg',
  'https://dkbi9cj3nodif.cloudfront.net/baby_seat_feeding.jpg',
]

// reasons for treatment
const reasons = {
  'Occupational Therapy': [
    'Delayed rolling, crawling, sitting',
    'Difficulties with tummy time',
    'Difficulties with tracking, reaching, grasp',
    'Sensory processing difficulties',
    'Fine motor delays',
    'Difficulties with regulation',
    'Colic',
    'Sleep difficulties',
  ],
  'Lactation Counseling': [
    'Breastfeeding challenges',
    'Low milk supply',
    'Painful nursing',
    'Latch issues',
    'Fussy/colicky when nursing',
    'Slow weight gain',
    'Tongue or lip tie',
    'Clicking, coughing, choking',
    'Arching/tension when nursing',
    'Side preference when nursing',
    'Reflux, constipation, gas',
    'Bottle refusal',
  ],
  'Transition to Solids': [
    'Bottle Feeding',
    'Transitioning to solids',
    'Baby led weaning',
    'Texture aversions',
    'Allergens',
    'Picky eating',
    'Food refusal',
    'Overstuffing mouth',
    'Choking, gagging',
  ],
}
---

<BaseLayout pageTitle={pageTitle}>
  <div class="w-full h-full bg-primary pt-14 md:pt-[76px]">
    {
      treating.map((treat, i) => (
        <>
          {i % 2 === 0 ? (
            <div class="flex flex-col items-center">
              <div class="max-w-7xl">
                <div
                  class="min-h-[85vh] grid grid-cols-1 gap-y-8 md:gap-y-0 md:grid-cols-2 gap-x-8 px-4 md:px-12 pt-4 sm:pt-12 pb-2 treat-item"
                  id={treat.frontmatter.id}
                >
                  <div class="w-full h-full flex justify-center items-center">
                    <img
                      src={treatImgs[i]}
                      alt="Toddlers playing"
                      class="w-full max-w-md rounded-md object-cover object-center shadow-lg max-h-[500px] lg:min-w-[500px] lg:h-[450px]"
                    />
                  </div>
                  <div class="flex flex-col gap-y-4 w-full h-full justify-center md:px-8">
                    <div class="flex flex-col gap-y-4 w-full h-full justify-center">
                      <h1 class="text-5xl mb-6">
                        <span class="straight_underline z-10">
                          {treat.frontmatter.title}
                        </span>
                      </h1>
                      <treat.Content />
                    </div>
                  </div>
                </div>
                <div class="w-full flex justify-center">
                  <Reasons
                    reasonsList={
                      reasons[
                        treat.frontmatter.title as
                          | 'Lactation Counseling'
                          | 'Occupational Therapy'
                          | 'Transition to Solids'
                      ]
                    }
                  />
                </div>
              </div>
            </div>
          ) : (
            <div class="flex flex-col items-center">
              <div class="max-w-7xl">
                <div
                  class="min-h-[85vh] grid grid-cols-1 gap-y-8 md:gap-y-0 md:grid-cols-2 gap-x-8 px-4 md:px-12 pt-4 sm:pt-12 pb-2 service-item"
                  id={treat.frontmatter.id}
                >
                  <div class="flex flex-col gap-y-4 w-full h-full justify-center md:px-8">
                    <div class="flex flex-col gap-y-4 w-full h-full justify-center">
                      <h1 class="text-5xl mb-6">
                        <span class="straight_underline z-10">
                          {treat.frontmatter.title}
                        </span>
                      </h1>
                      <treat.Content />
                    </div>
                  </div>
                  <div class="w-full h-full flex justify-center items-center">
                    <img
                      src={treatImgs[i]}
                      alt="Toddlers playing"
                      class="w-full max-w-md rounded-md object-cover object-center shadow-lg max-h-[500px] lg:min-w-[500px] lg:h-[450px]"
                    />
                  </div>
                </div>
                <div class="w-full flex justify-center">
                  <Reasons
                    reasonsList={
                      reasons[
                        treat.frontmatter.title as
                          | 'Lactation Counseling'
                          | 'Occupational Therapy'
                          | 'Transition to Solids'
                      ]
                    }
                  />
                </div>
              </div>
            </div>
          )}

          <svg
            class="transition duration-300 ease-in-out w-full h-full flex-no-shrink"
            id="svg"
            viewBox="0 0 1440 600"
            xmlns="http://www.w3.org/2000/svg"
          >
            <defs>
              <linearGradient id="gradient" x1="50%" y1="100%" x2="50%" y2="0%">
                <stop offset="5%" stop-color="#f3ffff" />
                <stop offset="95%" stop-color="#d0f0f0" />
              </linearGradient>
            </defs>
            <path
              class="w-full"
              d="M 0,600 L 0,210 C 80.96666666666664,198.49487179487178 161.93333333333328,186.98974358974357 245,200 C 328.0666666666667,213.01025641025643 413.23333333333346,250.53589743589745 496,249 C 578.7666666666665,247.46410256410255 659.1333333333332,206.86666666666667 725,205 C 790.8666666666668,203.13333333333333 842.2333333333333,239.99743589743593 923,254 C 1003.7666666666667,268.00256410256407 1113.9333333333334,259.1435897435897 1205,248 C 1296.0666666666666,236.85641025641027 1368.0333333333333,223.42820512820515 1440,210 L 1440,600 L 0,600 Z"
              stroke="none"
              stroke-width="0"
              fill="url(#gradient)"
              fill-opacity="0.4"
              class="transition-all duration-300 ease-in-out delay-150 path-1"
            />
            <defs>
              <linearGradient id="gradient" x1="50%" y1="100%" x2="50%" y2="0%">
                <stop offset="5%" stop-color="#F78DA7" />
                <stop offset="95%" stop-color="#8ED1FC" />
              </linearGradient>
            </defs>
            <path
              d="M 0,600 L 0,330 C 61.37692307692308,341.9230769230769 122.75384615384615,353.84615384615387 201,352 C 279.24615384615385,350.15384615384613 374.36153846153843,334.53846153846155 468,332 C 561.6384615384616,329.46153846153845 653.8000000000001,340.00000000000006 728,333 C 802.1999999999999,325.99999999999994 858.4384615384615,301.46153846153845 925,311 C 991.5615384615385,320.53846153846155 1068.4461538461537,364.1538461538462 1156,373 C 1243.5538461538463,381.8461538461538 1341.7769230769231,355.9230769230769 1440,330 L 1440,600 L 0,600 Z"
              stroke="none"
              stroke-width="0"
              fill="url(#gradient)"
              fill-opacity="0.53"
              class="transition-all duration-300 ease-in-out delay-150 path-2"
            />
            <defs>
              <linearGradient id="gradient" x1="50%" y1="100%" x2="50%" y2="0%">
                <stop offset="5%" stop-color="#f3ffff" />
                <stop offset="95%" stop-color="#f3ffff" />
              </linearGradient>
            </defs>
            <path
              d="M 0,600 L 0,450 C 75.10256410256412,448.8974358974359 150.20512820512823,447.79487179487177 240,456 C 329.79487179487177,464.20512820512823 434.28205128205127,481.7179487179487 512,489 C 589.7179487179487,496.2820512820513 640.6666666666666,493.33333333333337 704,492 C 767.3333333333334,490.66666666666663 843.0512820512821,490.9487179487179 927,490 C 1010.9487179487179,489.0512820512821 1103.128205128205,486.87179487179486 1190,480 C 1276.871794871795,473.12820512820514 1358.4358974358975,461.56410256410254 1440,450 L 1440,600 L 0,600 Z"
              stroke="none"
              stroke-width="0"
              fill="url(#gradient)"
              fill-opacity="1"
              class="transition-all duration-300 ease-in-out delay-150 path-3"
            />
          </svg>
        </>
      ))
    }
  </div>
</BaseLayout>

<style>
  .path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0 {
    0% {
      d: path(
        'M 0,600 L 0,90 C 77.66923076923078,107.5 155.33846153846156,125 236,116 C 316.66153846153844,107 400.3153846153846,71.5 472,60 C 543.6846153846154,48.50000000000001 603.4,61 689,69 C 774.6,77 886.0846153846155,80.5 967,93 C 1047.9153846153845,105.5 1098.2615384615385,127 1172,128 C 1245.7384615384615,129 1342.8692307692309,109.5 1440,90 L 1440,600 L 0,600 Z'
      );
    }
    25% {
      d: path(
        'M 0,600 L 0,90 C 67.20000000000002,87.78717948717949 134.40000000000003,85.57435897435896 228,88 C 321.59999999999997,90.42564102564104 441.6,97.4897435897436 510,106 C 578.4,114.5102564102564 595.1999999999999,124.46666666666665 677,124 C 758.8000000000001,123.53333333333335 905.6000000000001,112.64358974358976 1002,110 C 1098.3999999999999,107.35641025641024 1144.4,112.95897435897434 1209,111 C 1273.6,109.04102564102566 1356.8,99.52051282051283 1440,90 L 1440,600 L 0,600 Z'
      );
    }
    50% {
      d: path(
        'M 0,600 L 0,90 C 90.70256410256408,82.95384615384614 181.40512820512816,75.9076923076923 263,70 C 344.59487179487184,64.0923076923077 417.08205128205134,59.323076923076925 491,71 C 564.9179487179487,82.67692307692307 640.2666666666667,110.80000000000001 725,114 C 809.7333333333333,117.19999999999999 903.8512820512822,95.47692307692307 980,94 C 1056.1487179487178,92.52307692307693 1114.3282051282051,111.29230769230769 1188,114 C 1261.6717948717949,116.70769230769231 1350.8358974358976,103.35384615384615 1440,90 L 1440,600 L 0,600 Z'
      );
    }
    75% {
      d: path(
        'M 0,600 L 0,90 C 102.41025641025641,65.88717948717948 204.82051282051282,41.774358974358975 272,47 C 339.1794871794872,52.225641025641025 371.1282051282052,86.7897435897436 442,86 C 512.8717948717948,85.2102564102564 622.6666666666666,49.06666666666667 707,55 C 791.3333333333334,60.93333333333333 850.2051282051283,108.94358974358977 920,128 C 989.7948717948717,147.05641025641023 1070.5128205128206,137.15897435897438 1159,126 C 1247.4871794871794,114.84102564102564 1343.7435897435898,102.42051282051281 1440,90 L 1440,600 L 0,600 Z'
      );
    }
    100% {
      d: path(
        'M 0,600 L 0,90 C 77.66923076923078,107.5 155.33846153846156,125 236,116 C 316.66153846153844,107 400.3153846153846,71.5 472,60 C 543.6846153846154,48.50000000000001 603.4,61 689,69 C 774.6,77 886.0846153846155,80.5 967,93 C 1047.9153846153845,105.5 1098.2615384615385,127 1172,128 C 1245.7384615384615,129 1342.8692307692309,109.5 1440,90 L 1440,600 L 0,600 Z'
      );
    }
  }

  .path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-1 {
    0% {
      d: path(
        'M 0,600 L 0,210 C 80.96666666666664,198.49487179487178 161.93333333333328,186.98974358974357 245,200 C 328.0666666666667,213.01025641025643 413.23333333333346,250.53589743589745 496,249 C 578.7666666666665,247.46410256410255 659.1333333333332,206.86666666666667 725,205 C 790.8666666666668,203.13333333333333 842.2333333333333,239.99743589743593 923,254 C 1003.7666666666667,268.00256410256407 1113.9333333333334,259.1435897435897 1205,248 C 1296.0666666666666,236.85641025641027 1368.0333333333333,223.42820512820515 1440,210 L 1440,600 L 0,600 Z'
      );
    }
    25% {
      d: path(
        'M 0,600 L 0,210 C 69.39487179487179,203.65897435897435 138.78974358974358,197.3179487179487 215,188 C 291.2102564102564,178.6820512820513 374.2358974358975,166.3871794871795 450,180 C 525.7641025641025,193.6128205128205 594.2666666666665,233.13333333333333 678,232 C 761.7333333333335,230.86666666666667 860.697435897436,189.0794871794872 950,176 C 1039.302564102564,162.9205128205128 1118.9435897435897,178.54871794871795 1199,189 C 1279.0564102564103,199.45128205128205 1359.5282051282052,204.72564102564104 1440,210 L 1440,600 L 0,600 Z'
      );
    }
    50% {
      d: path(
        'M 0,600 L 0,210 C 99.23846153846154,220.62564102564102 198.47692307692307,231.25128205128203 268,233 C 337.5230769230769,234.74871794871797 377.3307692307692,227.62051282051283 443,212 C 508.6692307692308,196.37948717948717 600.2,172.26666666666668 686,183 C 771.8,193.73333333333332 851.8692307692307,239.31282051282054 932,245 C 1012.1307692307693,250.68717948717946 1092.323076923077,216.4820512820513 1177,204 C 1261.676923076923,191.5179487179487 1350.8384615384616,200.75897435897434 1440,210 L 1440,600 L 0,600 Z'
      );
    }
    75% {
      d: path(
        'M 0,600 L 0,210 C 99.80512820512823,190.24871794871797 199.61025641025645,170.4974358974359 269,166 C 338.38974358974355,161.5025641025641 377.3641025641025,172.25897435897434 445,189 C 512.6358974358975,205.74102564102566 608.9333333333334,228.4666666666667 699,245 C 789.0666666666666,261.5333333333333 872.9025641025639,271.874358974359 956,253 C 1039.097435897436,234.12564102564102 1121.4564102564104,186.03589743589745 1202,174 C 1282.5435897435896,161.96410256410255 1361.2717948717948,185.98205128205126 1440,210 L 1440,600 L 0,600 Z'
      );
    }
    100% {
      d: path(
        'M 0,600 L 0,210 C 80.96666666666664,198.49487179487178 161.93333333333328,186.98974358974357 245,200 C 328.0666666666667,213.01025641025643 413.23333333333346,250.53589743589745 496,249 C 578.7666666666665,247.46410256410255 659.1333333333332,206.86666666666667 725,205 C 790.8666666666668,203.13333333333333 842.2333333333333,239.99743589743593 923,254 C 1003.7666666666667,268.00256410256407 1113.9333333333334,259.1435897435897 1205,248 C 1296.0666666666666,236.85641025641027 1368.0333333333333,223.42820512820515 1440,210 L 1440,600 L 0,600 Z'
      );
    }
  }

  .path-2 {
    animation: pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-2 {
    0% {
      d: path(
        'M 0,600 L 0,330 C 61.37692307692308,341.9230769230769 122.75384615384615,353.84615384615387 201,352 C 279.24615384615385,350.15384615384613 374.36153846153843,334.53846153846155 468,332 C 561.6384615384616,329.46153846153845 653.8000000000001,340.00000000000006 728,333 C 802.1999999999999,325.99999999999994 858.4384615384615,301.46153846153845 925,311 C 991.5615384615385,320.53846153846155 1068.4461538461537,364.1538461538462 1156,373 C 1243.5538461538463,381.8461538461538 1341.7769230769231,355.9230769230769 1440,330 L 1440,600 L 0,600 Z'
      );
    }
    25% {
      d: path(
        'M 0,600 L 0,330 C 83.76666666666668,324.83589743589744 167.53333333333336,319.6717948717948 249,323 C 330.46666666666664,326.3282051282052 409.6333333333333,338.14871794871794 492,328 C 574.3666666666667,317.85128205128206 659.9333333333334,285.73333333333335 734,287 C 808.0666666666666,288.26666666666665 870.6333333333333,322.9179487179487 940,337 C 1009.3666666666667,351.0820512820513 1085.5333333333333,344.5948717948718 1170,340 C 1254.4666666666667,335.4051282051282 1347.2333333333333,332.7025641025641 1440,330 L 1440,600 L 0,600 Z'
      );
    }
    50% {
      d: path(
        'M 0,600 L 0,330 C 66.49230769230769,322.1102564102564 132.98461538461538,314.2205128205128 211,307 C 289.0153846153846,299.7794871794872 378.55384615384617,293.22820512820516 471,308 C 563.4461538461538,322.77179487179484 658.8000000000001,358.8666666666666 747,352 C 835.1999999999999,345.1333333333334 916.2461538461539,295.3051282051282 997,291 C 1077.753846153846,286.6948717948718 1158.2153846153847,327.91282051282053 1232,342 C 1305.7846153846153,356.08717948717947 1372.8923076923077,343.04358974358973 1440,330 L 1440,600 L 0,600 Z'
      );
    }
    75% {
      d: path(
        'M 0,600 L 0,330 C 84.0974358974359,308.24102564102566 168.1948717948718,286.48205128205126 258,296 C 347.8051282051282,305.51794871794874 443.31794871794875,346.3128205128205 508,355 C 572.6820512820512,363.6871794871795 606.5333333333333,340.26666666666665 676,336 C 745.4666666666667,331.73333333333335 850.548717948718,346.6205128205128 936,346 C 1021.451282051282,345.3794871794872 1087.2717948717948,329.25128205128203 1168,324 C 1248.7282051282052,318.74871794871797 1344.3641025641027,324.374358974359 1440,330 L 1440,600 L 0,600 Z'
      );
    }
    100% {
      d: path(
        'M 0,600 L 0,330 C 61.37692307692308,341.9230769230769 122.75384615384615,353.84615384615387 201,352 C 279.24615384615385,350.15384615384613 374.36153846153843,334.53846153846155 468,332 C 561.6384615384616,329.46153846153845 653.8000000000001,340.00000000000006 728,333 C 802.1999999999999,325.99999999999994 858.4384615384615,301.46153846153845 925,311 C 991.5615384615385,320.53846153846155 1068.4461538461537,364.1538461538462 1156,373 C 1243.5538461538463,381.8461538461538 1341.7769230769231,355.9230769230769 1440,330 L 1440,600 L 0,600 Z'
      );
    }
  }

  .path-3 {
    animation: pathAnim-3 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-3 {
    0% {
      d: path(
        'M 0,600 L 0,450 C 75.10256410256412,448.8974358974359 150.20512820512823,447.79487179487177 240,456 C 329.79487179487177,464.20512820512823 434.28205128205127,481.7179487179487 512,489 C 589.7179487179487,496.2820512820513 640.6666666666666,493.33333333333337 704,492 C 767.3333333333334,490.66666666666663 843.0512820512821,490.9487179487179 927,490 C 1010.9487179487179,489.0512820512821 1103.128205128205,486.87179487179486 1190,480 C 1276.871794871795,473.12820512820514 1358.4358974358975,461.56410256410254 1440,450 L 1440,600 L 0,600 Z'
      );
    }
    25% {
      d: path(
        'M 0,600 L 0,450 C 73.45641025641027,425.8871794871795 146.91282051282053,401.77435897435896 227,406 C 307.08717948717947,410.22564102564104 393.8051282051281,442.78974358974364 470,458 C 546.1948717948719,473.21025641025636 611.8666666666668,471.06666666666666 688,460 C 764.1333333333332,448.93333333333334 850.728205128205,428.94358974358977 940,422 C 1029.271794871795,415.05641025641023 1121.220512820513,421.1589743589744 1205,428 C 1288.779487179487,434.8410256410256 1364.3897435897434,442.42051282051284 1440,450 L 1440,600 L 0,600 Z'
      );
    }
    50% {
      d: path(
        'M 0,600 L 0,450 C 68.94358974358974,429.5333333333333 137.88717948717948,409.06666666666666 214,417 C 290.1128205128205,424.93333333333334 373.39487179487173,461.2666666666666 472,475 C 570.6051282051283,488.7333333333334 684.5333333333334,479.8666666666667 752,471 C 819.4666666666666,462.1333333333333 840.4717948717949,453.2666666666667 918,448 C 995.5282051282051,442.7333333333333 1129.5794871794872,441.0666666666667 1226,442 C 1322.4205128205128,442.9333333333333 1381.2102564102565,446.46666666666664 1440,450 L 1440,600 L 0,600 Z'
      );
    }
    75% {
      d: path(
        'M 0,600 L 0,450 C 96.8923076923077,464.36410256410255 193.7846153846154,478.7282051282051 267,480 C 340.2153846153846,481.2717948717949 389.7538461538461,469.451282051282 458,471 C 526.2461538461539,472.548717948718 613.2000000000002,487.46666666666664 709,474 C 804.7999999999998,460.53333333333336 909.4461538461537,418.68205128205125 997,413 C 1084.5538461538463,407.31794871794875 1155.0153846153848,437.8051282051282 1226,450 C 1296.9846153846152,462.1948717948718 1368.4923076923076,456.0974358974359 1440,450 L 1440,600 L 0,600 Z'
      );
    }
    100% {
      d: path(
        'M 0,600 L 0,450 C 75.10256410256412,448.8974358974359 150.20512820512823,447.79487179487177 240,456 C 329.79487179487177,464.20512820512823 434.28205128205127,481.7179487179487 512,489 C 589.7179487179487,496.2820512820513 640.6666666666666,493.33333333333337 704,492 C 767.3333333333334,490.66666666666663 843.0512820512821,490.9487179487179 927,490 C 1010.9487179487179,489.0512820512821 1103.128205128205,486.87179487179486 1190,480 C 1276.871794871795,473.12820512820514 1358.4358974358975,461.56410256410254 1440,450 L 1440,600 L 0,600 Z'
      );
    }
  }

  .service-item {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .service-item.in-view {
    opacity: 1;
  }
</style>

<script>
  const handleNavigation = () => {
    const elements = document.querySelectorAll('.service-item')

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add('in-view')
            observer.unobserve(entry.target)
          }
        })
      },
      { threshold: 0.2 },
    )

    elements.forEach((el) => observer.observe(el))
  }

  // Reinitialize on navigation
  document.addEventListener('astro:page-load', handleNavigation) // Astro-specific event
  document.addEventListener('DOMContentLoaded', handleNavigation)
</script>
