---
const { title, id, img, link } = Astro.props
---

<div
  class="flex flex-col gap-y-6 lg:flex-row lg:gap-x-12 bg-[#ecf7f7] shadow-lg border border-black/50 rounded-md p-6
     transition-all duration-300 ease-in-out hover:scale-[1.002]"
  id={id}
>
  <div class="lg:w-1/2 flex flex-col gap-y-6">
    <a href={link} target={link !== '/contact' ? '_blank' : ''}>
      <h4
        class="text-4xl w-fit hover:scale-[1.01] hover:shadow-sm transition-all duration-300 ease-in-out"
      >
        <span class="straight_underline z-10">
          {title}
        </span>
      </h4>
    </a>

    <div
      class="flex flex-col gap-y-4 h-full justify-start text-xl mt-2 md:mt-0"
    >
      <slot />
    </div>
  </div>

  <div class="lg:w-1/2 flex justify-center">
    {img && <img class="max-w-[425px] w-full" src={img} alt={`${title}, occupational therapy, lactation, infant feeding`} />}
  </div>
</div>
