---
import { Image } from 'astro:assets'

import GoogleLogo from '../../public/assets/images/google_logo.png'
import Testamonial from './Testamonial.astro'

const markdownFiles = await Astro.glob('../pages/testamonials/*md')

const testamonials = Object.values(markdownFiles)
---

<div class="py-16">
  <div class="w-full flex justify-center items-center">
    <h1
      class="header-title tracking-wider text-blue-950 py-8 pb-12 flex flex-row items-center text-[28px] md:text-4xl"
    >
      <span class="mb-2 straight_underline z-10">5.0 on</span>
      <span>
        <Image
          src={GoogleLogo}
          alt="google-logo"
          class="w-[175px] sm:w-[200px] h-[44px] sm:h-[52px] px-4"
        />
      </span>
      <span class="mb-2 straight_underline z-10">Reviews!</span>
    </h1>
  </div>
  <div class="flex flex-row gap-x-4 justify-between overflow-hidden">
    {
      testamonials.map((testamonial, i) => (
        <Testamonial
          userName={testamonial.frontmatter.userName}
          numReviews={testamonial.frontmatter.numReviews}
          sincePost={testamonial.frontmatter.sincePost}
          indx={i}
        >
          <testamonial.Content />
        </Testamonial>
      ))
    }
  </div>
</div>
