---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { createBEClient } from '../../lib/SupabaseServer';
import type { MarkdownInstance } from 'astro';

const pageTitle = 'Courses'

const user = Astro.locals.user
const supabase = createBEClient({ request: Astro.request, cookies: Astro.cookies })

const markdownFiles = import.meta.glob<MarkdownInstance<any>>('../courses-md/*md', { eager: true });

const courses = await Promise.all(
  Object.values(markdownFiles).map(async (file) => ({
    content: file.compiledContent(),
    frontmatter: file.frontmatter,
  }))
);

let purchasedIds = new Set()
if (user) {
  const { data: purchased } = await supabase
    .from('purchases')
    .select('id, course_id')
    .eq('user_id', user.id)

  if (purchased) {
    purchased.forEach(p => purchasedIds.add(String(p.course_id)))
  }
}

---

<BaseLayout pageTitle={pageTitle}>
  <header class="flex justify-center w-full mb-8 mt-20 text-center">
    <div class="max-w-4xl">
      <h1 class="text-[46px] md:text-[58px] mb-2 font-semibold">Courses</h1>
      <p class="text-[18px] mt-6 text-gray-700">
        Having issues with developmental milestones? Get a jump start with our interactive online resources to help you tackle development
        milestones with your kiddo
      </p>
    </div>
  </header>
  <div
    class="mx-auto w-24 h-1 my-14 bg-gradient-to-r from-slate-100 to-slate-300 rounded-full"
  >
  </div>

  <div class="w-full flex justify-center px-4 sm:px-8 pb-24">
    <div class="max-w-7xl">
      <div
        class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4 sm:gap-8 place-items-center transition-all ease-out duration-300"
      >
        {
          courses.map((course) => (
            <article class={`p-4 max-w-[500px] border border-black/20 overflow-hidden shadow-xl bg-gray6 rounded-xl transition-transform ease-in-out duration-500 relative ${purchasedIds.has(course.frontmatter.id) ? 'hover:scale-105' : ''}`}>
              {!course.frontmatter.avaiable && (
                <div class="absolute h-16 w-full -rotate-45 border-[3px] translate-y-44 border-red-400/80 rounded-md z-20 flex justify-center align-middle bg-gray-400/50">
                  <p class="text-3xl text-white font-semibold text-center w-full mt-2">
                    Coming Soon
                  </p>
                </div>
              )}
              <div class="absolute h-8 w-8 top-8 right-8 rounded-md z-20">
                {purchasedIds.has(course.frontmatter.id) ? (
                  <svg class="w-8 h-8 text-gray-800 dark:text-green-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M15.03 9.684h3.965c.322 0 .64.08.925.232.286.153.532.374.717.645a2.109 2.109 0 0 1 .242 1.883l-2.36 7.201c-.288.814-.48 1.355-1.884 1.355-2.072 0-4.276-.677-6.157-1.256-.472-.145-.924-.284-1.348-.404h-.115V9.478a25.485 25.485 0 0 0 4.238-5.514 1.8 1.8 0 0 1 .901-.83 1.74 1.74 0 0 1 1.21-.048c.396.13.736.397.96.757.225.36.32.788.269 1.211l-1.562 4.63ZM4.177 10H7v8a2 2 0 1 1-4 0v-6.823C3 10.527 3.527 10 4.176 10Z" clip-rule="evenodd"/>
                  </svg>
                ) : (
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" style="enable-background:new 0 0 128 128" xml:space="preserve"><path style="fill:#e9da10" d="M101.946 53.087h-75.88a3.903 3.903 0 0 0-3.891 3.891v64.207a3.903 3.903 0 0 0 3.891 3.891h75.881a3.903 3.903 0 0 0 3.891-3.891V56.978a3.904 3.904 0 0 0-3.892-3.891zM68.928 93.673v13.094h-7.374V93.673c-3.541-1.44-6.051-4.922-6.051-8.989 0-5.37 4.358-9.728 9.728-9.728s9.728 4.358 9.728 9.728a9.69 9.69 0 0 1-6.031 8.989z"/><path style="fill:#1d252c" d="M101.94 50.173h-7.25v-19.49C94.69 13.764 80.926 0 63.994 0 47.074 0 33.31 13.764 33.31 30.683v19.49h-7.25a6.818 6.818 0 0 0-6.81 6.81v64.207a6.818 6.818 0 0 0 6.81 6.81h75.881a6.818 6.818 0 0 0 6.81-6.81V56.983c-.001-3.754-3.056-6.81-6.811-6.81zm-62.793-19.49c0-13.7 11.146-24.846 24.858-24.846 13.701 0 24.847 11.146 24.847 24.846v19.49H39.147v-19.49zm63.766 90.507a.985.985 0 0 1-.973.973H26.06a.985.985 0 0 1-.973-.973V56.983c0-.527.445-.973.973-.973h75.881c.528 0 .973.446.973.973v64.207zM65.231 73.01c-6.437 0-11.674 5.237-11.674 11.674 0 4.309 2.335 8.189 6.052 10.217v11.868c0 1.075.87 1.946 1.946 1.946h7.374c1.075 0 1.946-.87 1.946-1.946V94.901c3.703-2.025 6.031-5.904 6.031-10.217-.001-6.437-5.237-11.674-11.675-11.674zm2.964 18.861a1.944 1.944 0 0 0-1.212 1.802v11.15H63.5v-11.15c0-.792-.479-1.504-1.212-1.802a7.73 7.73 0 0 1-4.839-7.187c0-4.291 3.49-7.783 7.783-7.783 4.292 0 7.783 3.491 7.783 7.783a7.722 7.722 0 0 1-4.82 7.187z"/></svg>
              )}
              </div>
              <a
                href={`${purchasedIds.has(course.frontmatter.id) ? `/courses/${course.frontmatter.slug}/${course.frontmatter.first_chapter}` : course.frontmatter.avaiable && `/courses/${course.frontmatter.slug}`}`}
                class={`no-underline ${course.frontmatter.avaiable ? 'cursor-pointer' : 'grayscale blur-[1.5px] cursor-not-allowed pointer-events-none'}`}
              >
                <img
                  src="https://dkbi9cj3nodif.cloudfront.net/tummy_time_in_park_riverside.jpg"
                  alt="intro to solids"
                  class="w-full m-0 mb-1 rounded-t-xl"
                />
                <section class="p-5">
                  <h5 class="text-[20px] font-semibold">
                    {course.frontmatter.title}
                  </h5>
                  <p class="text-[16px] text-gray-500 min-h-[80px] my-3">
                    {course.frontmatter.description}
                  </p>
                  <div class="flex gap-2">
                    <p class="text-sm px-3 py-1.5 bg-yellow-300/70 rounded-lg shadow-md font-semibold">
                      Ages: {course.frontmatter.ages}
                    </p>
                    <p class="text-sm px-3 py-1.5 bg-green-300/70 rounded-lg shadow-md font-semibold">
                      length: {course.frontmatter.length}
                    </p>
                  </div>
                </section>
              </a>
            </article>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
